/NexEngine/target/
/.idea/
/NexEngine_CustomEffects/target/
/NMS/target/
/NexEngineCompat_V1_18_R1/dependency-reduced-pom.xml
/NexEngineCompat_V1_18_R1/target/
/NexEngineCompat_V1_17_R1/target/
/NexEngineCompat_V1_17_R1/dependency-reduced-pom.xml
/NexEngineCompat_V1_16_R3/target/
/NexEngine/pom.xml.versionsBackup
/NexEngine_CustomEffects/pom.xml.versionsBackup
/NexEngineCompat_V1_16_R3/pom.xml.versionsBackup
/NexEngineCompat_V1_17_R1/pom.xml.versionsBackup
/NexEngineCompat_V1_18_R1/pom.xml.versionsBackup
/NMS/pom.xml.versionsBackup
/pom.xml.versionsBackup
/NexEngineCompat_V1_18_R2/target/
/NexEngineCompat_V1_18_R2/pom.xml.versionsBackup
/NexEngineCompat_V1_19_R1/target/
/NexEngine.jar
/NexEngineCompat_V1_19_R1/pom.xml.versionsBackup
